.booking-details-wrapper {
  padding: 20px 16px 40px;
  /* max-width: 420px; */
  margin: 30px;
  text-align: left !important;
}

/* Titles */
.page-title {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.section-heading {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 10px;
  color: var(--primary-color);
}

/* Card */
.details-card {
  background-color: var(--tertiary-color);
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 20px;
}

.row-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.label {
  font-size: 13px;
  color: rgba(var(--primary-color-rgb), 0.7);
}

.value {
  font-size: 13px;
  color: var(--primary-color);
}

.sub-heading {
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
  color: var(--primary-color);
}

.package-name {
  font-size: 13px;
  margin: 6px 0;
  color: rgba(var(--primary-color-rgb), 0.8);
}

/* List */
.info-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  color: rgba(var(--primary-color-rgb), 0.8);
}

.info-list li {
  margin-bottom: 4px;
}

/* Divider */
.divider {
  height: 1px;
  background-color: rgba(var(--primary-color-rgb), 0.2);
  margin: 12px 0;
}

/* Billing */
.total .value {
  font-weight: 600;
}

/* Status */
.status.completed {
  color: green;
  font-size: 13px;
}

/* Buttons */
.action-btn {
  width: 100%;
  height: 44px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
}

.action-btn.outline {
  background-color: var(--primary-color);
}
.BookingDetails-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Mobile safe */
@media (max-width: 360px) {
  .page-title {
    font-size: 20px;
  }
  .booking-details-wrapper {
  margin: auto;
}
}
