.login-wrapper {
  min-height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 100%;
  max-width: 480px;
  padding: 40px 30px;
}

.login-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  font-size: 13px;
  color: rgb(0 0 0 / 45%);
  margin-bottom: 6px;
}

.login-input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #D5D5D5;
  background-color: transparent !important;
}

.otp-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.otp-input {
  width: 100%;
  max-width: 70px;
  height: 70px;
  border-radius: 12px;
  border: 1px solid #D5D5D5;
  background-color: transparent !important;
  text-align: center;
  font-size: 18px;
}


