.quote-wrapper {
  min-height: 100vh;
  background-color: var(--secondary-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.quote-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--primary-color);
}

/* Card */
.quote-card {
  background-color: var(--tertiary-color);
  padding: 40px 35px;
  border-radius: 44px;
  max-width: 950px;
}
.quote-card-inputes{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
/* Labels */
.center-label {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* Inputs */
.quote-input {
  height: 45px;
  border-radius: 10px;
  background-color: transparent !important;
  border: 1px solid #5A000033 !important;
  font-size: 16px;
  padding: 10px 14px;
  width: 440px !important;
}

.quote-input:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

/* Button */
.save-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  padding: 14px;
  border-radius: 10px;
  border: none;
}

.save-btn:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 576px) {
  .quote-title {
    font-size: 32px;
  }

  .quote-card {
    padding: 30px 20px;
  }
}
