/* Page Wrapper */
.edit-profile-wrapper {
  background-color: var(--secondary-color);
  padding: 50px 0;
  min-height: 100vh;
}

/* Title */
.profile-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-color);
}

.profile-subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

/* Profile Header */
.profile-header {
  margin-top: 20px;
}

.edit-profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color);
}

.user-email {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/* Labels */
.form-label {
  font-size: 14px;
  margin-bottom: 6px;
}

/* Input */
.custom-input {
  background-color:var(--tertiary-color) !important;
  border: none;
  height: 50px;
  border-radius: 6px;
  font-size: 14px;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
}

/* Custom Select Dropdown */
.custom-select {
  background-color:var(--tertiary-color) !important;
  border: none;
  height: 50px;
  border-radius: 6px;
  font-size: 14px;
  color: #3b2a1f;
  padding: 10px 40px 10px 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='%233b2a1f' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  max-width: 100%;
  width: 100%;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

/* Dropdown options */
.custom-select option {
  background-color: #4a3326;
  color: #ffffff;
}

/* Save Button */
.save-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 12px 40px;
  font-size: 16px !important ;
  width: 280px !important;
  height: 50px !important;
}


/* Responsive */
@media (max-width: 768px) {
  .profile-title,
  .profile-subtitle {
    text-align: center;
  }

  .profile-header {
    justify-content: center;
    text-align: center;
  }
}
