.booking-tabs {
  display: flex;
  gap: 60px;
  /* border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.2); */
  margin-bottom: 30px;
  justify-content: space-around;
  margin-top: 50px;
}

.tab-item {
  background: none;
  border: none;
  font-size: 18px;
  color: rgba(var(--primary-color-rgb), 0.5);
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
}

.tab-item:hover {
  color: var(--primary-color);
}

.tab-item.active {
  color: var(--primary-color);
}

.tab-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

/* Mobile */
@media (max-width: 768px) {
  .booking-tabs {
    gap: 30px;
  }

  .tab-item {
    font-size: 16px;
  }
}
