.layout {
    display: flex;
  }
  
  .main-content {
    flex: 1;
    transition: margin-left 0.3s; /* Smooth transition */
  }
  
  .sidebar-open .main-content {
    margin-left: 250px; /* Adjust according to your sidebar width */
  }
  
  .sidebar-closed .main-content {
    margin-left: 0;
  }

  .hide-menu{
    display: none;
  }
  
  