.custom-navbar {
  background-color: var(--secondary-color);
  height: 70px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
}

.nav-link {
  color: var(--text-color);
  font-weight: 500;
}

.nav-link:hover {
  color: var(--text-color);
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.login-btn {
 background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  padding: 6px 18px;
  border-radius: var(--border-radius);
  border: none;
}

.login-btn:hover {
  background-color: #3a0c0c; /* slightly darker */
  color: var(--white-color);
}
