/* ================================
   GLOBAL THEME VARIABLES
================================ */

:root {
    /* Button */
  --primary-color:#4A3326;
  --primary-color-rgb: 74, 51, 38; /* #4A3326 */
  /* Section background */
  --secondary-color: #FAF9F6;
  --tertiary-color: #e6dccf;

  --text-color: #000000;
  --white-color: #ffffff;

  /* Font Families */
  --primary-font-family: "Libre Baskerville";
  --secondary-font-family: "Cinzel";
  --tertiary-font-family: "Poppins";

  
  --border-radius: 4px;
}


/* ================================
   GLOBAL RESETS (optional)
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--text-color);
}

.title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--primary-color);
}
.buttons{
   width: 100%;
  height: 48px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  margin-top: 30px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
.buttons:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Dropdown options */
select option {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Selected option */
select option:checked {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Hover (works in Firefox, partial elsewhere) */
select option:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media (max-width: 767px) {
  .buttons {
    font-size: 18px;
  }
}
