/* ================================
   GLOBAL THEME VARIABLES
================================ */

:root {
    /* Button */
  --primary-color:#4A3326;


  /* Section background */
  --secondary-color: #FAF9F6;
  --tertiary-color: #e6dccf;

  --text-color: #000000;
  --white-color: #ffffff;

  /* Font Families */
  --primary-font-family: "Libre Baskerville";
  --secondary-font-family: "Cinzel";
  --tertiary-font-family: "Poppins";

  
  --border-radius: 4px;
}


/* ================================
   GLOBAL RESETS (optional)
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--text-color);
}

.title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--primary-color);
}