.cancel-booking-modal .modal-content {
  background: transparent;
  border: none;
}

/* Wrapper */
.cancel-modal-wrapper {
  background: var(--tertiary-color);
  border-radius: 20px;
  padding: 28px 32px 32px;
  text-align: center;
  position: relative;
}

/* Close icon */
.close-icon {
  position: absolute;
  top: 14px;
  right: 18px;
  background: none;
  border: none;
  font-size: 22px;
  color: var(--primary-color-rgb);
  cursor: pointer;
}

/* Title */
.modal-title {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 16px;
}

/* Image */
.cancel-image {
  width: 120px;
  margin: 10px auto 18px;
  display: block;
}

/* Text */
.modal-desc {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.modal-note {
  font-size: 12px;
  color: var(--primary-color-rgb);
  margin-bottom: 22px;
}

/* Reason section */
.reason-section {
  text-align: left;
  margin-bottom: 28px;
}

.reason-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--primary-color);
}

/* Custom radio */
.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 8px;
  cursor: pointer;
}

.radio-item input {
  display: none;
}

.radio-item span {
  width: 14px;
  height: 14px;
  border: 1.5px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
}

.radio-item input:checked + span::after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Actions */
.modal-actions {
  display: flex;
  gap: 16px;
}

.keep-btn {
  flex: 1;
  background: var(--primary-color);
  /* color: var(--primary-color-rgb); */
  color: #fff;
  border: none;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 15px;
}

.cancel-btn {
  flex: 1;
  background: transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  padding: 12px 0;
  border-radius: 10px;
  font-size: 15px;
}
